* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen-Regular', 'Jomolhari-Regular', sans-serif;

}

body{
    overflow-x:hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 9px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

.menubar {
    margin: 0px;
    padding: 0px;
    width: 5vh;
    height: auto;
}

.logo {
    width: 8vh;
    height: auto;
}

nav span {
    opacity: 0;
    transition: opacity .5s;
}
.content {
    text-align: center;

}

.content h1 {
    color: #ffffff;
    font-family: 'ProzaLibre-BoldItalic', sans-serif;
    font-style: normal;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content_a {
    text-decoration: none;
}

@font-face {
    font-family: 'ProzaLibre-BoldItalic';
    src: url(ProzaLibre-BoldItalic.ttf);
}

@font-face {
    font-family: 'Koulen-Regular';
    src: url(Koulen-Regular.ttf);
}

.bgvideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.top-container {
    position: relative;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
}
.main_title, .main_line, .main_subtitle {
    position: absolute;
    left:2%;
    z-index: 2;
}
.main_title {
    font-size: 2.6vw;
    color: #ffffff;
    font-family: 'Koulen-Regular',sans-serif ;
    font-weight: 200;
    text-align: left;
    transition: font-size 0.5s;
    top:76%;
}

.main_line {
    margin: 0;
    padding: 0;
    border: 0;
    width: 5vw;
    height: 0.5vh;
    background-color: #42ffed;
    transition: margin-bottom 0.5s;
    top: 85%;
}

.main_subtitle {
    color: #ffffff;
    font-family: 'Koulen-Regular', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    text-align: left;
    transition: font-size 0.5s;
    top: 86%;
}


@media (min-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: 86vh;
    }
    .main-container {
        top: 76%;
        font-size: 3vh;
    }
}


@media (max-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: auto;
    }
    
    .main-container {
        top: 56%;
        font-size: 3vh;
    }
}
.a_mid_container {
    width: 100%;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
    padding: 2vw 2vw 1.6vw 2vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(57, minmax(0, 0vw)); 
    gap: 2vw; 
}

.mount_video{
    width: 47vw;
    border-radius: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / auto;
}

.my_works_img{
    width: 47vw;
    height: auto;
    grid-column: 2 / 3;
    grid-row:1 / auto;
    border-radius: 20px;
}

.color_flim_video{
    width: 47vw;
    border-radius: 20px;
    grid-column: 2 / 3;
    grid-row: 7 / auto;
}

.j_com_video{
    width: 47vw;
    border-radius: 20px;
    grid-column: 1 / 2;
    grid-row: 15 / auto;
}

.drinks_video{
    width: 47vw;
    border-radius: 20px;
    grid-column: 2 / 3;
    grid-row: 21 / auto;
}

.b_mid_container{
    width: 100%;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
    padding: 0 2vw 2vw 2vw;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(37, minmax(0, 0vw));;
    gap: 2vw; 
}

.drinks2_video{
    width: 22.5vw;
    border-radius: 20px;
    grid-column: 1 / 2 ;
    grid-row: 1 / auto; 
}

.dj_video{
    width: 71.5vw;
    border-radius: 20px;
    grid-column: 2 / 4 ;
    grid-row: 1 / auto; 
}

.bts_video{
    width: 71vw;
    border-radius: 20px;
    grid-column: 1 / 4 ;
    grid-row: 22 / auto;
}

.gym_video{
    width: 22.5vw;
    border-radius: 20px;
    grid-column: 4 / 5 ;
    grid-row: 17 / auto;
}

.color_flim_video, .dj_video, .gym_video, .mount_video, .drinks2_video {
    cursor: pointer;
}

.primary-navigation{
    position: fixed;
    inset: 0 0 0 0%;
    background: hsla(0, 0%, 0%, 0.534);
    z-index: 5;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: min(30vh, 20rem) 5em;
    font-family: 'Koulen-Regular', sans-serif;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    align-items: center;
    justify-content: center; 
}

@supports (backdrop-filter: blur(3em)){
    .primary-navigation{
        background: hsla(0, 0%, 0%, 0.712);
        backdrop-filter: blur(2em) ;
    }
}

.primary-navigation[data-visible ='true']{
    transform: translateX(0%);
}

.primary-navigation a{
    font-family: 'Koulen-Regular', sans-serif;
    color: #FFE9CA;
    text-decoration: none;
    font-style: normal;
    font-size: 200%;
}

.primary-navigation a:hover{
    color: #998569;
}

.x-icon{
    width: 3vw;
    transition: width 0.1s;
    position: absolute; /* Add this line */
    top: 2%;
    left: 2%;
}

.x-icon:hover{
    width: 3.1%;
    transform: scale(1.2);
    align-items: start;
}

.back-butt {
    cursor: pointer;
    background-color: transparent;
    border: none ;
    top: 0;
}


.primary-navigation li{
    list-style-type:none;
    margin-bottom: 2.5%;
}

button.nav_toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 767px){
    nav{
        background-color:black ;
        position: relative;
    }
}
