* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen-Regular', 'Jomolhari-Regular', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Hide the scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Customize scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: #776e61;
    border-radius: 10px;
}

/* Show scrollbar on hover */
body:hover::-webkit-scrollbar {
    width: 8px;
}

/* Optional: Customize scrollbar corner */
body::-webkit-scrollbar-corner {
    background-color: #ffffff;
}


nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 9px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

.menubar {
    margin: 0px;
    padding: 0px;
    width: 5vh;
    height: auto;
}

.logo {
    width: 8vh;
    height: auto;
}


nav span {
    opacity: 0;
    transition: opacity .5s;
}

.content {
    text-align: center;

}

.content h1 {
    color: #ffffff;
    font-family: 'ProzaLibre-BoldItalic', sans-serif;
    font-style: normal;
    font-size: 4vh;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content_a {
    text-decoration: none;
}

@font-face {
    font-family: 'ProzaLibre-BoldItalic';
    src: url(ProzaLibre-BoldItalic.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Koulen-Regular';
    src: url(Koulen-Regular.ttf);
    font-display: swap;
}

@font-face{
    font-family: 'Black_Emerald';
    src: url(Black_Emerald.ttf);
    font-display: swap;
}

.bgvideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    background-image: url(contents/main_video_blur.png);
    background-size: cover;
}

.top-container {
    position: relative;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
}

.main_title,
.main_line,
.main_subtitle {
    position: absolute;
    left: 2%;
    z-index: 2;
}

.main_title {
    font-size: 2.5vw;
    color: #ffffff;
    font-family: 'Koulen-Regular', sans-serif;
    font-weight: 200;
    text-align: left;
    transition: font-size 0.5s;
    top: 76%;
}

.main_line {
    margin: 0;
    padding: 0;
    border: 0;
    width: 5vw;
    height: 0.8vh;
    background-color: #42ffed;
    transition: margin-bottom 0.5s;
    top: 85%;
}

.main_subtitle {
    color: #ffffff;
    font-family: 'Koulen-Regular', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    text-align: left;
    transition: font-size 0.5s;
    top: 86%;
}


@media (min-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: 86vh;
    }

    .main-container {
        top: 76%;
        font-size: 3vh;
    }
}


@media (max-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: auto;
    }

    .main-container {
        top: 56%;
        font-size: 3vh;
    }
}

.a_mid_container {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
    padding: 2vw 2vw 1.6vw 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(57, minmax(0, 0vw));
    gap: 2vw;
}

.mount_video {
    width: 47vw;
    border-radius: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / auto;
    background-image: url(contents/Mount_blur.png);
    background-size: cover;
}

.my_works_img {
    width: 47vw;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / auto;
    border-radius: 20px;
}

.deb_moidan {
    width: 47vw;
    border-radius: 20px;
    grid-column: 2 / 3;
    grid-row: 7 / auto;
    background-image: url(contents/deb_moidan_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.j_com_video {
    width: 47vw;
    border-radius: 20px;
    grid-column: 1 / 2;
    grid-row: 15 / auto;
    background-image: url(contents/j_com_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.drinks_video {
    width: 47vw;
    border-radius: 20px;
    grid-column: 2 / 3;
    grid-row: 21 / auto;
    background-image: url(contents/drinks_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.b_mid_container {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
    padding: 0 2vw 2vw 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(41, minmax(0, 0vw));
    column-gap: 2vw;
    row-gap: 1vw;
}

.didi_reel {
    width: 22.5vw;
    border-radius: 20px;
    grid-column:1 / 2 ;
    grid-row: 1 / auto;
    background-image: url(contents/didi_reel_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.color_flim_video {
    width: 47vw;
    border-radius: 20px;
    grid-column:2 / 4 ;
    grid-row: 1 / auto;
    background-image: url(contents/color_flim_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.dadu_flim {
    width: 47vw;
    border-radius: 20px;
    grid-column:2 / 4 ;
    grid-row: 22/ auto;
    background-image: url(contents/dadu_flim_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gym_video {
    width: 22.5vw;
    border-radius: 20px;
    grid-column:4 / 5 ;
    grid-row: 1 / auto;
    background-image: url(contents/gym_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.color_flim_video,
.dj_video,
.gym_video,
.mount_video,
.drinks2_video {
    cursor: pointer;
}

.primary-navigation {
    position: fixed;
    inset: 0 0 0 0%;
    background: hsla(0, 0%, 0%, 0.534);
    z-index: 5;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: min(30vh, 20rem) 5em;
    font-family: 'Koulen-Regular', sans-serif;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    align-items: center;
    justify-content: center;
}

@supports (backdrop-filter: blur(3em)) {
    .primary-navigation {
        background: hsla(0, 0%, 0%, 0.712);
        backdrop-filter: blur(2em);
    }
}

.primary-navigation[data-visible='true'] {
    transform: translateX(0%);
}

.primary-navigation a {
    font-family: 'Koulen-Regular', sans-serif;
    color: #FFE9CA;
    text-decoration: none;
    font-style: normal;
    font-size: 200%;
}

.primary-navigation a:hover {
    color: #998569;
}

.x-icon {
    width: 3vw;
    transition: width 0.1s;
    position: absolute;
    /* Add this line */
    top: 2%;
    left: 2%;
}

.x-icon:hover {
    width: 3.1%;
    transform: scale(1.2);
    align-items: start;
}

.back-butt {
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 0;
}


.primary-navigation li {
    list-style-type: none;
    margin-bottom: 2.5%;
}

button.nav_toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 0.75s visibility 0.75s;
    z-index: 20;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ffffff;
    border-top-color: #c78d3c;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transition: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}



/* .fotterbg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(contents/giphy2.gif);
    z-index: 2;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
} */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    padding: 0 2vw 2vw 2vw;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.fotterbg {
    width: 96vw; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background-color: black;
    background-image: url(contents/giphy2.gif);
    z-index: 2;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}


.fottglass{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 60vh;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.534);
    z-index: 4;
    box-sizing: border-box;
    border: 1px solid;
    border-color: hsla(0, 0%, 100%, 0.158)
}

@supports (backdrop-filter: blur(3em)) {
    .fottglass {
        background: hsla(0, 0%, 0%, 0.041);
        backdrop-filter: blur(0.5em);
    }
    
}


.conh1 {
    color: #ffffff;
    font-size: 7vw;
    font-weight: 200;
    transition: font-size 0.5s;
    z-index: 5;
    text-align: center;
    position: relative;
    font-family: 'Black_Emerald', 'Helvetica Neue', Helvetica, arial;
}

.scicons {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
}

img.ig {
    width: 30px;
    margin: 10px;
    transition: all 0.3s ease;
}

img.ig:hover{
    content: url(contents/1_Instagram_colored_svg_1-512.webp);
}

img.wapp {
    width: 30px;
    margin: 10px;
}

img.wapp:hover{
    content: url(contents/images-removebg-preview.png);
}

img.Lin{
    width: 29px;
    margin: 10px;
}

img.Lin:hover{
    content: url(contents/LinkedIn_icon.svg.png);
}

img.yt{
    width: 40px;
    margin: 10px;
}

img.yt:hover{
    content: url(contents/youtube\ color.png);
}

.ytcl{
    align-self: center;
}

.cdet{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.cdeth1{
    color: #ffffff;
    font-weight: 200;
    transition: font-size 0.5s;
    z-index: 5;
    text-align: center;
    position: relative;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.crs {
    font-size: 15px;
    z-index: 6;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px; /* adjust as needed */
    left: 25px; /* adjust as needed */

}

.siteby{
    font-size: 15px;
    z-index: 6;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px; /* adjust as needed */
    right: 25px; /* adjust as needed */
}

.siteby a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Black_Emerald', 'Helvetica Neue', Helvetica;
}
.siteby a:hover{
    color: rgb(134, 134, 134);
}

.scroll-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #c78d3c; /* Black background */
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.scroll-to-top img{
    width: 50px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-to-top img:hover{
    content: url(contents/top_white.png);
}
.scroll-to-top.show {
    display: block; /* Show button when scrolled to bottom */
}

.c_grade{
    position: relative;
    width: 100%;
    transition: top 0.5s, font-size 0.5s;
    left: 0;
    padding: 0 2vw 2vw 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  repeat(1, minmax(0, 35.7vw));;
    gap: 2vw;
}

.no_grade{
    width: 63.4vw;
    border-radius: 20px;
    grid-column:1 / 3 ;
    grid-row: 1 / auto;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}

.slide_to_See{
    width: 30.7vw;
    border-radius: 20px;
    grid-column:3 / 4 ;
    grid-row: 1 / auto;
    background-color: black;
}



/* Tab view */

@media (min-width: 768px) and (max-width: 1070px) {

    .menubar {
        width: 5vh;
        height: auto;
    }

    .logo {
        width: 7vh;
        height: auto;
        transition: width 0.5s;
    }

    .content h1 {
        color: #ffffff;
        font-size: 3vh;
        font-weight: 600;
        transition: font-size 0.5s;
    }

    .main_title {
        font-size: 3vw;
        font-weight: 150;
        transition: font-size 0.5s;
        top: 76%;
    }

    .main_line {
        width: 7vw;
        height: 0.5vh;
        transition: margin-bottom 0.5s;
        top: 85.5%;
    }

    .main_subtitle {
        color: #ffffff;
        font-size: 1.5vw;
        font-weight: 0;
        text-align: left;
        transition: font-size 0.5s;
        top: 86%;
    }

    .x-icon {
        width: 8vw;
        transition: width 0.1s;
        position: absolute;
        /* Add this line */
        top: 2%;
        left: 2%;
    }
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Hide slider input visually */
    opacity: 0;
}





/* Mobile Styles */

@media (max-width: 767px) {
    nav {
        background-color: black;
        position: relative;
    }

    .menubar {
        width: 3.5vh;
        height: auto;
    }

    .logo {
        width: 6vh;
        height: auto;
        transition: width 0.5s;
    }

    .content h1 {
        color: #ffffff;
        font-size: 2vh;
        font-weight: 600;
        transition: font-size 0.5s;
    }

    button.nav_toggle {
        padding-right: 5px;
        transition: width 0.5s;
    }

    .bgvideo {
        position: relative;
        width: 100%;
        height: 55vh;
        object-fit: cover;
        z-index: 1;
    }

    .main_title,
    .main_line,
    .main_subtitle {
        position: absolute;
        left: 5%;
        z-index: 2;
    }

    .main_title {
        font-size: 6vw;
        font-weight: 150;
        transition: font-size 0.5s;
        top: 76%;
    }

    .main_line {
        width: 15vw;
        height: 0.5vh;
        transition: margin-bottom 0.5s;
        top: 85%;
    }

    .main_subtitle {
        color: #ffffff;
        font-size: 3vw;
        font-weight: 0;
        text-align: left;
        transition: font-size 0.5s;
        top: 86%;
    }

    .a_mid_container {
        transition: top 0.5s, font-size 0.5s;
        left: 0;
        padding: 2vw 2vw 1.6vw 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(56, minmax(0, 2vw));
        gap: 2vw;
    }

    .mount_video {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 3;
        grid-row: 7 / auto;
    }

    .my_works_img {
        width: 100%;
        height: auto;
        grid-column: 1 / 3;
        grid-row: 1 / auto;
        border-radius: 15px;
    }

    .deb_moidan {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 3;
        grid-row: 43 / auto;
    }

    .j_com_video {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 2;
        grid-row: 21 / auto;
    }

    .drinks_video {
        width: 100%;
        border-radius: 15px;
        grid-column: 2 / 3;
        grid-row: 21 / auto;
        background-image: url(contents/drinks_blur_small.png);
    }

    .b_mid_container {
        width: 100%;
        z-index: 1;
        transition: top 0.5s, font-size 0.5s;
        left: 0;
        padding: 2vw 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(51, minmax(0, 2vw));
        gap: 2vw;
    }

    .didi_reel {
        width: 100%;
        border-radius: 15px;
        grid-column: 2 / 3;
        grid-row: 1 / auto;
    }

    .color_flim_video {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 3;
        grid-row: 37 / auto;
    }

    .dadu_flim {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 3;
        grid-row: 23 / auto;
    }

    .gym_video {
        width: 100%;
        border-radius: 15px;
        grid-column: 1 / 2;
        grid-row: 1 / auto;
    }

    .c_grade{
        position: relative;
        width: 100%;
        transition: top 0.5s, font-size 0.5s;
        left: 0;
        padding: 0 2vw 2vw 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  repeat(18, minmax(0, 1vw));;
        gap: 2vw;
    }
    
    .no_grade{
        width: 96vw;
        border-radius: 10px;
        grid-column:1 / 3 ;
        grid-row: 1 / auto;
        background-image: url();
        background-size: cover;
        background-repeat: no-repeat;
    }

    .x-icon {
        width: 10vw;
        transition: width 0.1s;
        position: absolute;
        /* Add this line */
        top: 2%;
        left: 2%;
    }

    .siteby{
        font-size: 10px;
        z-index: 10;
    }

    .crs {
        font-size: 10px;
    
    }
}

@media screen and (max-width: 767px) {
    .slide_to_See {
        display: none;
    }
}

@media (min-width: 440px) and (max-width: 766px) {
    .main_title {
        font-size: 35px;
        font-weight: 150;
        transition: font-size 0.5s;
        top: 76%;
    }

    .main_line {
        width: 12vw;
        height: 0.8vh;
        transition: margin-bottom 0.5s;
        top: 87%;
    }

    .main_subtitle {
        color: #ffffff;
        font-size: 15px;
        font-weight: 0;
        text-align: left;
        transition: font-size 0.5s;
        top: 88%;
    }

    .conh1 {
        color: #ffffff;
        font-size: 15vw;
        font-weight: 200;
        transition: font-size 0.5s;
        z-index: 5;
        text-align: center;
        position: relative;
        font-family: 'Black_Emerald', 'Helvetica Neue', Helvetica, arial;
    }
}

@media (min-width: 289px) and (max-width: 439px) {
    .main_title {
        font-size: 30px;
        font-weight: 150;
        transition: font-size 0.5s;
        top: 76%;
    }

    .main_line {
        width: 20vw;
        height: 5px;
        transition: margin-bottom 0.5s;
        top: 86%;
    }

    .main_subtitle {
        font-size: 15px;
        transition: font-size 0.5s;
        top: 87%;
    }

    .conh1 {
        color: #ffffff;
        font-size: 15vw;
        font-weight: 200;
        transition: font-size 0.5s;
        z-index: 5;
        text-align: center;
        position: relative;
        font-family: 'Black_Emerald', 'Helvetica Neue', Helvetica, arial;
    }
    
}

@media (min-width: 100px) and (max-width: 290px) {
    .main_title {
        font-size: 30px;
        font-weight: 150;
        transition: font-size 0.5s;
        top: 76%;
    }

    .main_line {
        width: 20vw;
        height: 6px;
        transition: margin-bottom 0.5s;
        top: 85.5%;
    }

    .main_subtitle {
        font-size: 15px;
        transition: font-size 0.5s;
        top: 86%;
    }
}