* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen-Regular.ttf', 'Jomolhari-Regular', sans-serif;

}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
}

.content {
    text-align: center;

}

.content h1 {
    color: #ffffff;
    font-family: ProzaLibre-BoldItalic;
    font-style: normal;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
}

.content_a {
    text-decoration: none;
}

@font-face {
    font-family: 'ProzaLibre-BoldItalic';
    src: url(ProzaLibre-BoldItalic.ttf);
}

@font-face {
    font-family: 'Koulen-Regular';
    src: url(Koulen-Regular.ttf);
}

.bgvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: 86vh;
    }
    .main-container {
        top: 76%;
        font-size: 3vh;
    }
    .main_title {
        top: 68vh;
    }
    .main_line {
        top: 75vh;
    }
}


@media (max-aspect-ratio: 16/9) {
    .bgvideo {
        width: 100%;
        height: auto;
    }
    
    .main-container {
        top: 56%;
        font-size: 3vh;
    }
    .main_title {
        top: 69vh;
    }
    .main_line {
        top: 76vh;
    }
}

.main-container {
    position: fixed;
    z-index: 2;
    transition: top 1s, font-size 1s;
    left: 2%;
}

.main_title {
    font-size: 5vh;
    color: #000000;
    font-family: Koulen-Regular;
    font-weight: 200;
    text-align: center;
    position: fixed;
    transition: font-size 1s;
}

.main_line {
    margin: 0;
    padding: 0;
    width: 5vh;
    height: 0.5vh;
    background-color: #ff0000;
    margin: 0 auto;
    margin-bottom: 1vh;
    position: fixed;
    transition: margin-bottom 1s;
}

.main_subtitle {
    color: #000000;
    font-family: Koulen-Regular;
    font-size: 2vh;
    font-weight: 100;
    text-align: center;
    position: fixed;
}

  
.main_subtitle {
    color: #000000;
    font-family: Koulen-Regular;
    font-size: 2vh;
    font-weight: 100;
    text-align: center;
    transition: font-size 1s;
    position: fixed;
}


.menubar {
    margin: 0px;
    padding: 0px;
    width: 5vh;
    height: auto;
}

.logo {
    width: 8vh;
    height: auto;
}

nav span {
    opacity: 0;
    transition: opacity .5s;
}